In [1]:
#first import all the required library,let's first use breast wine dataset
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from modAL.models import ActiveLearner
from modAL.uncertainty import uncertainty_sampling
from sklearn.ensemble import RandomForestClassifier
from IPython import display
import LeeExperimentToolkit as lee
from matplotlib import pyplot as plt
from sklearn.datasets import load_wine
import random
%matplotlib inline
from sklearn.tree import DecisionTreeClassifier

first thing is to get a initial dataset to fit in active learning

In [2]:
X, y = load_wine(return_X_y=True,as_frame=True)

use Leetoolkit library we can get a dataset with onehot representation oof feature and its associated cv means

In [3]:
X_initial, y_initial = lee.PerformanceHandler.train_dataset_with_random_features(X,y,DecisionTreeClassifier(),2000)#get a dataset with size of 2000

In [4]:
#see the information of two dataset
X_initial.head()

   0   1   2   3   4   5   6   7   8   9   10  11  12
0   1   1   1   0   1   1   1   1   1   1   1   1   1
1   1   1   0   1   1   1   1   1   1   1   1   1   1
2   1   1   0   1   0   1   0   1   1   1   0   1   1
3   0   0   1   1   1   0   1   1   1   1   1   0   1
4   0   1   0   0   0   1   1   0   0   0   1   1   0

In [18]:
y_initial.value_counts()

8    828
7    555
6    157
5    104
4     63
3     53
2     30
0     16
1     15
Name: 14, dtype: int64

now we split this dataset into trainning and testing dataset

In [8]:
X_train,X_test,y_train,y_test = train_test_split(X_initial,y_initial,test_size=0.5)

In [9]:
#see information of test set, we will test all iteration by this test size so we keep it bigger
len(y_test)

911

In [3]:
def Change_float_into_classes(num):
    if num> 0.95:
        return 8
    elif num > 0.9:
        return 7
    elif num > 0.85:
        return 6
    elif num > 0.8:
        return 5
    elif num > 0.75:
        return 4
    elif num > 0.7:
        return 3
    elif num > 0.65:
        return 2
    elif num > 0.6:
        return 1
    else:
        return 0

now let's create the pool, the pool should be different combination of feature compare to the initial set, we can use lee library to do this

In [15]:
X_pool = lee.PerformanceHandler.pool_generator(X_initial,2000)

In [16]:
X_pool = np.array(X_pool)

In [17]:
N_QUERIES = 100
X_train =np.array(X_train)
y_train = np.array(y_train)
learner = ActiveLearner(estimator=DecisionTreeClassifier(),X_training=X_train,y_training=y_train)
unqueried_score = [learner.score(X_test, y_test)]
performance_history = [unqueried_score]

# Allow our model to query our unlabeled dataset for the most
# informative points according to our query strategy (uncertainty sampling).
for index in range(N_QUERIES):
  query_index, query_instance = learner.query(X_pool)

  # Teach our ActiveLearner model the record it has requested.
  X_Iterate = X.iloc[:,query_instance[0].tolist()]
  y_new = np.array([Change_float_into_classes(cross_val_score(estimator=RandomForestClassifier(),X = X_Iterate,y = y,cv=4).mean())], dtype=int)
  X_1, y_1 = X_pool[query_index].reshape(1, -1), y_new.reshape(1,)
  learner.teach(X=X_1, y=y_1)
  # Remove the queried instance from the unlabeled pool.
  X_pool = np.delete(X_pool, query_index, axis=0)
  # Calculate and report our model's accuracy.
  model_accuracy = learner.score(X_test, y_test)
  print('Accuracy after query {n}: {acc:0.4f}'.format(n=index + 1, acc=model_accuracy))

  # Save our model's performance for plotting.
  performance_history.append(model_accuracy)

Accuracy after query 1: 0.7344
Accuracy after query 2: 0.7311
Accuracy after query 3: 0.7387
Accuracy after query 4: 0.7398
Accuracy after query 5: 0.7377
Accuracy after query 6: 0.7398
Accuracy after query 7: 0.7431
Accuracy after query 8: 0.7420
Accuracy after query 9: 0.7475
Accuracy after query 10: 0.7398
Accuracy after query 11: 0.7355
Accuracy after query 12: 0.7420
Accuracy after query 13: 0.7453
Accuracy after query 14: 0.7387
Accuracy after query 15: 0.7245
Accuracy after query 16: 0.7267
Accuracy after query 17: 0.7387
Accuracy after query 18: 0.7377
Accuracy after query 19: 0.7256
Accuracy after query 20: 0.7355
Accuracy after query 21: 0.7300
Accuracy after query 22: 0.7300
Accuracy after query 23: 0.7267
Accuracy after query 24: 0.7245
Accuracy after query 25: 0.7289
Accuracy after query 26: 0.7322
Accuracy after query 27: 0.7234
Accuracy after query 28: 0.7344
Accuracy after query 29: 0.7256
Accuracy after query 30: 0.7168
Accuracy after query 31: 0.7157
Accuracy after query 32: 0.7157
Accuracy after query 33: 0.7135
Accuracy after query 34: 0.7201
Accuracy after query 35: 0.7168
Accuracy after query 36: 0.7124
Accuracy after query 37: 0.7124
Accuracy after query 38: 0.7058
Accuracy after query 39: 0.6937
Accuracy after query 40: 0.7146
Accuracy after query 41: 0.7047
Accuracy after query 42: 0.7102
Accuracy after query 43: 0.7058
Accuracy after query 44: 0.6992
Accuracy after query 45: 0.7102
Accuracy after query 46: 0.7091
Accuracy after query 47: 0.7113
Accuracy after query 48: 0.7091
Accuracy after query 49: 0.7014
Accuracy after query 50: 0.7146
Accuracy after query 51: 0.7080
Accuracy after query 52: 0.7003
Accuracy after query 53: 0.7091
Accuracy after query 54: 0.7014
Accuracy after query 55: 0.6948
Accuracy after query 56: 0.7025
Accuracy after query 57: 0.6948
Accuracy after query 58: 0.7036
Accuracy after query 59: 0.7047
Accuracy after query 60: 0.7091
Accuracy after query 61: 0.7058
Accuracy after query 62: 0.7080
Accuracy after query 63: 0.6948
Accuracy after query 64: 0.6915
Accuracy after query 65: 0.7102
Accuracy after query 66: 0.7047
Accuracy after query 67: 0.6926
Accuracy after query 68: 0.6894
Accuracy after query 69: 0.6981
Accuracy after query 70: 0.6981
Accuracy after query 71: 0.6905
Accuracy after query 72: 0.6905
Accuracy after query 73: 0.6861
Accuracy after query 74: 0.6850
Accuracy after query 75: 0.6850
Accuracy after query 76: 0.6861
Accuracy after query 77: 0.6861
Accuracy after query 78: 0.6937
Accuracy after query 79: 0.6937
Accuracy after query 80: 0.6905
Accuracy after query 81: 0.6707
Accuracy after query 82: 0.6915
Accuracy after query 83: 0.6905
Accuracy after query 84: 0.6937
Accuracy after query 85: 0.6795
Accuracy after query 86: 0.6828
Accuracy after query 87: 0.6905
Accuracy after query 88: 0.6828
Accuracy after query 89: 0.6850
Accuracy after query 90: 0.6817
Accuracy after query 91: 0.6894
Accuracy after query 92: 0.6839
Accuracy after query 93: 0.6751
Accuracy after query 94: 0.6817
Accuracy after query 95: 0.6861
Accuracy after query 96: 0.6806
Accuracy after query 97: 0.6872
Accuracy after query 98: 0.6883
Accuracy after query 99: 0.6894
Accuracy after query 100: 0.6718

In [19]:
direct_trainning_score = cross_val_score(RandomForestClassifier(),X_initial,y_initial,cv=4)

In [24]:
direct_trainning_score

array([0.76754386, 0.78901099, 0.77142857, 0.78681319])

In [25]:
direct_trainning_score_decision_tree = cross_val_score(DecisionTreeClassifier(),X_initial,y_initial,cv=4)

In [26]:
direct_trainning_score_decision_tree

array([0.74342105, 0.75164835, 0.76923077, 0.76703297])

a funny thing came out, the active learning strategies seems to wrose the accuracy

let's see whether the accuracy is already the best randomforrst can get, we will create another even bigger training set

In [27]:
X_4000, y_4000 = lee.PerformanceHandler.train_dataset_with_random_features(X,y,RandomForestClassifier(),4000)#get a dataset with size of 4000

In [28]:
direct_trainning_score_4000 = cross_val_score(RandomForestClassifier(),X_4000,y_4000,cv=4)

In [29]:
direct_trainning_score_4000

array([0.84252874, 0.83889528, 0.83544304, 0.82508631])

In [30]:
direct_trainning_score_decision_tree_4000 = cross_val_score(DecisionTreeClassifier(),X_4000,y_4000,cv=4)

In [31]:
direct_trainning_score_decision_tree_4000

array([0.82873563, 0.81933257, 0.80552359, 0.80322209])

so basically we are not reach the performance limit of randomforrest, and the problem belongs to AL
but still let's first reduce the dataset, and see what will happen if we have a rather small dataset

In [32]:
X_initial_400, y_initial_400 = lee.PerformanceHandler.train_dataset_with_random_features(X,y,DecisionTreeClassifier(),400)#get a dataset with size of 400
X_train,X_test,y_train,y_test = train_test_split(X_initial_400,y_initial_400,test_size=0.5)
X_pool = lee.PerformanceHandler.pool_generator(X_initial,2000)
X_pool = np.array(X_pool)
N_QUERIES = 100
X_train =np.array(X_train)
y_train = np.array(y_train)
learner = ActiveLearner(estimator=RandomForestClassifier(),X_training=X_train,y_training=y_train)
unqueried_score = [learner.score(X_test, y_test)]
performance_history = [unqueried_score]

# Allow our model to query our unlabeled dataset for the most
# informative points according to our query strategy (uncertainty sampling).
for index in range(N_QUERIES):
  query_index, query_instance = learner.query(X_pool)

  # Teach our ActiveLearner model the record it has requested.
  X_Iterate = X.iloc[:,query_instance[0].tolist()]
  y_new = np.array([Change_float_into_classes(cross_val_score(estimator=DecisionTreeClassifier(),X = X_Iterate,y = y,cv=5,n_jobs=-1).mean())], dtype=int)
  X_1, y_1 = X_pool[query_index].reshape(1, -1), y_new.reshape(1,)
  learner.teach(X=X_1, y=y_1)
  # Remove the queried instance from the unlabeled pool.
  X_pool = np.delete(X_pool, query_index, axis=0)
  # Calculate and report our model's accuracy.
  model_accuracy = learner.score(X_test, y_test)
  print('Accuracy after query {n}: {acc:0.4f}'.format(n=index + 1, acc=model_accuracy))

  # Save our model's performance for plotting.
  performance_history.append(model_accuracy)

Accuracy after query 1: 0.5684
Accuracy after query 2: 0.5632
Accuracy after query 3: 0.5632
Accuracy after query 4: 0.5421
Accuracy after query 5: 0.5316
Accuracy after query 6: 0.5684
Accuracy after query 7: 0.5684
Accuracy after query 8: 0.5737
Accuracy after query 9: 0.5632
Accuracy after query 10: 0.5526
Accuracy after query 11: 0.5105
Accuracy after query 12: 0.4947
Accuracy after query 13: 0.5368
Accuracy after query 14: 0.4895
Accuracy after query 15: 0.5632
Accuracy after query 16: 0.5526
Accuracy after query 17: 0.5526
Accuracy after query 18: 0.5474
Accuracy after query 19: 0.5263
Accuracy after query 20: 0.5158
Accuracy after query 21: 0.5158
Accuracy after query 22: 0.5579
Accuracy after query 23: 0.5158
Accuracy after query 24: 0.4789
Accuracy after query 25: 0.5105
Accuracy after query 26: 0.5053
Accuracy after query 27: 0.5263
Accuracy after query 28: 0.5263
Accuracy after query 29: 0.4895
Accuracy after query 30: 0.4895
Accuracy after query 31: 0.4947
Accuracy after query 32: 0.4895
Accuracy after query 33: 0.4632
Accuracy after query 34: 0.4895
Accuracy after query 35: 0.5000
Accuracy after query 36: 0.4684
Accuracy after query 37: 0.4684
Accuracy after query 38: 0.4737
Accuracy after query 39: 0.4684
Accuracy after query 40: 0.5000
Accuracy after query 41: 0.4474
Accuracy after query 42: 0.5316
Accuracy after query 43: 0.5053
Accuracy after query 44: 0.4895
Accuracy after query 45: 0.5158
Accuracy after query 46: 0.5000
Accuracy after query 47: 0.4474
Accuracy after query 48: 0.4632
Accuracy after query 49: 0.4526
Accuracy after query 50: 0.5263
Accuracy after query 51: 0.4526
Accuracy after query 52: 0.4684
Accuracy after query 53: 0.4579
Accuracy after query 54: 0.4474
Accuracy after query 55: 0.4737
Accuracy after query 56: 0.4474
Accuracy after query 57: 0.4737
Accuracy after query 58: 0.4579
Accuracy after query 59: 0.4789
Accuracy after query 60: 0.4632
Accuracy after query 61: 0.4947
Accuracy after query 62: 0.5000
Accuracy after query 63: 0.4842
Accuracy after query 64: 0.4632
Accuracy after query 65: 0.4632
Accuracy after query 66: 0.4947
Accuracy after query 67: 0.4737
Accuracy after query 68: 0.4737
Accuracy after query 69: 0.4842
Accuracy after query 70: 0.4684
Accuracy after query 71: 0.4526
Accuracy after query 72: 0.4632
Accuracy after query 73: 0.4632
Accuracy after query 74: 0.4632
Accuracy after query 75: 0.4579
Accuracy after query 76: 0.5000
Accuracy after query 77: 0.4632
Accuracy after query 78: 0.4632
Accuracy after query 79: 0.4842
Accuracy after query 80: 0.4737
Accuracy after query 81: 0.4421
Accuracy after query 82: 0.4737
Accuracy after query 83: 0.4474
Accuracy after query 84: 0.4368
Accuracy after query 85: 0.4316
Accuracy after query 86: 0.4368
Accuracy after query 87: 0.4368
Accuracy after query 88: 0.4474
Accuracy after query 89: 0.4421
Accuracy after query 90: 0.4211
Accuracy after query 91: 0.4158
Accuracy after query 92: 0.4211
Accuracy after query 93: 0.4474
Accuracy after query 94: 0.4053
Accuracy after query 95: 0.4316
Accuracy after query 96: 0.4105
Accuracy after query 97: 0.4000
Accuracy after query 98: 0.4263
Accuracy after query 99: 0.4053
Accuracy after query 100: 0.4474

let's test out whether it is the programming problem

one possible reason for this is the instance is recieving the wrong lable

In [82]:
X_initial_100, y_initial_100 = lee.PerformanceHandler.train_dataset_with_random_features(X,y,DecisionTreeClassifier(),400)#get a dataset with size of 400
X_train,X_test,y_train,y_test = train_test_split(X_initial_100,y_initial_100,test_size=0.8)
X_pool = lee.PerformanceHandler.pool_generator(X_initial_100,2000)
X_pool = np.array(X_pool)
N_QUERIES = 400
X_train =np.array(X_train)
y_train = np.array(y_train)
X_test =np.array(X_test)
y_test = np.array(y_test)
learner = ActiveLearner(estimator=RandomForestClassifier(),X_training=X_train,y_training=y_train)
unqueried_score = [learner.score(X_test, y_test)]
performance_history = [unqueried_score]

# Allow our model to query our unlabeled dataset for the most
# informative points according to our query strategy (uncertainty sampling).
for index in range(N_QUERIES):
  query_index, query_instance = learner.query(X_pool)
  list_tem = query_instance.tolist()
  list_tem = list_tem[0]
  list_feature_num = []
  for num in range(len(list_tem)):
      if list_tem[num] == 1:
          list_feature_num.append(num)
  # Teach our ActiveLearner model the record it has requested.
  X_Iterate = X.iloc[:,list_feature_num]
  y_new = Change_float_into_classes(cross_val_score(estimator=DecisionTreeClassifier(),X = X_Iterate,y = y,cv=5,n_jobs=-1).mean())
  X_1, y_1 = X_pool[query_index], np.array([y_new])
  learner.teach(X=X_1, y=y_1)
  #print(learner.y_training)
  # Remove the queried instance from the unlabeled pool.
  X_pool = np.delete(X_pool, query_index, axis=0)
  # Calculate and report our model's accuracy.
  model_accuracy = learner.score(X_test, y_test)
  print('Accuracy after query {n}: {acc:0.4f}'.format(n=index + 1, acc=model_accuracy))

  # Save our model's performance for plotting.
  performance_history.append(model_accuracy)

Accuracy after query 1: 0.5855
Accuracy after query 2: 0.5822
Accuracy after query 3: 0.5855
Accuracy after query 4: 0.5822
Accuracy after query 5: 0.5954
Accuracy after query 6: 0.5921
Accuracy after query 7: 0.6020
Accuracy after query 8: 0.6250
Accuracy after query 9: 0.5888
Accuracy after query 10: 0.6118
Accuracy after query 11: 0.6086
Accuracy after query 12: 0.5921
Accuracy after query 13: 0.6086
Accuracy after query 14: 0.6086
Accuracy after query 15: 0.5855
Accuracy after query 16: 0.6283
Accuracy after query 17: 0.6184
Accuracy after query 18: 0.5987
Accuracy after query 19: 0.6020
Accuracy after query 20: 0.6217
Accuracy after query 21: 0.6283
Accuracy after query 22: 0.6086
Accuracy after query 23: 0.5954
Accuracy after query 24: 0.5987
Accuracy after query 25: 0.6414
Accuracy after query 26: 0.6184
Accuracy after query 27: 0.6217
Accuracy after query 28: 0.6086
Accuracy after query 29: 0.6118
Accuracy after query 30: 0.6316
Accuracy after query 31: 0.6118
Accuracy after query 32: 0.6118
Accuracy after query 33: 0.6414
Accuracy after query 34: 0.6151
Accuracy after query 35: 0.6250
Accuracy after query 36: 0.6250
Accuracy after query 37: 0.6250
Accuracy after query 38: 0.6217
Accuracy after query 39: 0.6382
Accuracy after query 40: 0.6316
Accuracy after query 41: 0.6118
Accuracy after query 42: 0.6447
Accuracy after query 43: 0.6118
Accuracy after query 44: 0.6217
Accuracy after query 45: 0.6414
Accuracy after query 46: 0.6316
Accuracy after query 47: 0.6316
Accuracy after query 48: 0.6414
Accuracy after query 49: 0.6480
Accuracy after query 50: 0.6151
Accuracy after query 51: 0.6217
Accuracy after query 52: 0.6414
Accuracy after query 53: 0.6382
Accuracy after query 54: 0.6414
Accuracy after query 55: 0.6250
Accuracy after query 56: 0.6250
Accuracy after query 57: 0.6316
Accuracy after query 58: 0.6579
Accuracy after query 59: 0.6447
Accuracy after query 60: 0.6414
Accuracy after query 61: 0.6414
Accuracy after query 62: 0.6414
Accuracy after query 63: 0.6382
Accuracy after query 64: 0.6250
Accuracy after query 65: 0.6283
Accuracy after query 66: 0.6349
Accuracy after query 67: 0.6283
Accuracy after query 68: 0.6283
Accuracy after query 69: 0.6250
Accuracy after query 70: 0.6184
Accuracy after query 71: 0.6382
Accuracy after query 72: 0.6316
Accuracy after query 73: 0.6283
Accuracy after query 74: 0.6250
Accuracy after query 75: 0.6382
Accuracy after query 76: 0.6382
Accuracy after query 77: 0.6513
Accuracy after query 78: 0.6316
Accuracy after query 79: 0.6480
Accuracy after query 80: 0.6316
Accuracy after query 81: 0.6414
Accuracy after query 82: 0.6447
Accuracy after query 83: 0.6480
Accuracy after query 84: 0.6480
Accuracy after query 85: 0.6382
Accuracy after query 86: 0.6414
Accuracy after query 87: 0.6447
Accuracy after query 88: 0.6414
Accuracy after query 89: 0.6612
Accuracy after query 90: 0.6382
Accuracy after query 91: 0.6546
Accuracy after query 92: 0.6612
Accuracy after query 93: 0.6382
Accuracy after query 94: 0.6414
Accuracy after query 95: 0.6579
Accuracy after query 96: 0.6513
Accuracy after query 97: 0.6809
Accuracy after query 98: 0.6612
Accuracy after query 99: 0.6711
Accuracy after query 100: 0.6612
Accuracy after query 101: 0.6579
Accuracy after query 102: 0.6349
Accuracy after query 103: 0.6776
Accuracy after query 104: 0.6513
Accuracy after query 105: 0.6579
Accuracy after query 106: 0.6711
Accuracy after query 107: 0.6546
Accuracy after query 108: 0.6711
Accuracy after query 109: 0.6809
Accuracy after query 110: 0.6809
Accuracy after query 111: 0.6743
Accuracy after query 112: 0.6842
Accuracy after query 113: 0.6612
Accuracy after query 114: 0.6776
Accuracy after query 115: 0.6743
Accuracy after query 116: 0.6678
Accuracy after query 117: 0.6776
Accuracy after query 118: 0.6842
Accuracy after query 119: 0.6743
Accuracy after query 120: 0.6842
Accuracy after query 121: 0.6809
Accuracy after query 122: 0.6743
Accuracy after query 123: 0.6711
Accuracy after query 124: 0.6809
Accuracy after query 125: 0.6743
Accuracy after query 126: 0.6612
Accuracy after query 127: 0.6974
Accuracy after query 128: 0.6842
Accuracy after query 129: 0.6711
Accuracy after query 130: 0.6711
Accuracy after query 131: 0.6776
Accuracy after query 132: 0.6612
Accuracy after query 133: 0.6743
Accuracy after query 134: 0.6842
Accuracy after query 135: 0.6776
Accuracy after query 136: 0.6842
Accuracy after query 137: 0.6941
Accuracy after query 138: 0.6743
Accuracy after query 139: 0.6809
Accuracy after query 140: 0.6678
Accuracy after query 141: 0.6809
Accuracy after query 142: 0.6875
Accuracy after query 143: 0.6776
Accuracy after query 144: 0.6776
Accuracy after query 145: 0.6809
Accuracy after query 146: 0.6743
Accuracy after query 147: 0.6809
Accuracy after query 148: 0.6875
Accuracy after query 149: 0.6743
Accuracy after query 150: 0.6875
Accuracy after query 151: 0.6842
Accuracy after query 152: 0.6908
Accuracy after query 153: 0.6776
Accuracy after query 154: 0.6875
Accuracy after query 155: 0.6776
Accuracy after query 156: 0.6974
Accuracy after query 157: 0.6776
Accuracy after query 158: 0.6776
Accuracy after query 159: 0.6908
Accuracy after query 160: 0.6776
Accuracy after query 161: 0.6842
Accuracy after query 162: 0.6842
Accuracy after query 163: 0.6941
Accuracy after query 164: 0.6941
Accuracy after query 165: 0.6776
Accuracy after query 166: 0.6875
Accuracy after query 167: 0.6908
Accuracy after query 168: 0.6743
Accuracy after query 169: 0.6842
Accuracy after query 170: 0.6711
Accuracy after query 171: 0.6645
Accuracy after query 172: 0.6743
Accuracy after query 173: 0.6809
Accuracy after query 174: 0.6809
Accuracy after query 175: 0.6678
Accuracy after query 176: 0.6875
Accuracy after query 177: 0.6743
Accuracy after query 178: 0.6645
Accuracy after query 179: 0.6875
Accuracy after query 180: 0.6612
Accuracy after query 181: 0.6678
Accuracy after query 182: 0.6776
Accuracy after query 183: 0.6776
Accuracy after query 184: 0.6645
Accuracy after query 185: 0.6842
Accuracy after query 186: 0.6711
Accuracy after query 187: 0.6743
Accuracy after query 188: 0.6809
Accuracy after query 189: 0.6842
Accuracy after query 190: 0.6908
Accuracy after query 191: 0.6842
Accuracy after query 192: 0.6645
Accuracy after query 193: 0.6711
Accuracy after query 194: 0.6776
Accuracy after query 195: 0.6743
Accuracy after query 196: 0.6743
Accuracy after query 197: 0.6579
Accuracy after query 198: 0.6678
Accuracy after query 199: 0.6743
Accuracy after query 200: 0.6645
Accuracy after query 201: 0.6809
Accuracy after query 202: 0.6743
Accuracy after query 203: 0.6743
Accuracy after query 204: 0.6743
Accuracy after query 205: 0.6743
Accuracy after query 206: 0.6974
Accuracy after query 207: 0.6809
Accuracy after query 208: 0.6678
Accuracy after query 209: 0.6809
Accuracy after query 210: 0.6842
Accuracy after query 211: 0.6743
Accuracy after query 212: 0.6612
Accuracy after query 213: 0.6711
Accuracy after query 214: 0.6678
Accuracy after query 215: 0.6776
Accuracy after query 216: 0.6743
Accuracy after query 217: 0.6743
Accuracy after query 218: 0.6941
Accuracy after query 219: 0.6776
Accuracy after query 220: 0.6974
Accuracy after query 221: 0.6645
Accuracy after query 222: 0.7007
Accuracy after query 223: 0.6809
Accuracy after query 224: 0.6809
Accuracy after query 225: 0.6678
Accuracy after query 226: 0.6776
Accuracy after query 227: 0.6908
Accuracy after query 228: 0.6842
Accuracy after query 229: 0.6711
Accuracy after query 230: 0.6645
Accuracy after query 231: 0.6743
Accuracy after query 232: 0.6645
Accuracy after query 233: 0.6678
Accuracy after query 234: 0.6579
Accuracy after query 235: 0.6612
Accuracy after query 236: 0.6678
Accuracy after query 237: 0.6743
Accuracy after query 238: 0.6711
Accuracy after query 239: 0.6678
Accuracy after query 240: 0.6776
Accuracy after query 241: 0.6645
Accuracy after query 242: 0.6447
Accuracy after query 243: 0.6645
Accuracy after query 244: 0.6743
Accuracy after query 245: 0.6809
Accuracy after query 246: 0.6809
Accuracy after query 247: 0.6776
Accuracy after query 248: 0.6809
Accuracy after query 249: 0.6743
Accuracy after query 250: 0.6612
Accuracy after query 251: 0.6776
Accuracy after query 252: 0.6678
Accuracy after query 253: 0.6875
Accuracy after query 254: 0.6842
Accuracy after query 255: 0.6743
Accuracy after query 256: 0.6875
Accuracy after query 257: 0.6776
Accuracy after query 258: 0.6678
Accuracy after query 259: 0.6645
Accuracy after query 260: 0.6678
Accuracy after query 261: 0.6809
Accuracy after query 262: 0.6743
Accuracy after query 263: 0.6743
Accuracy after query 264: 0.6941
Accuracy after query 265: 0.6743
Accuracy after query 266: 0.6645
Accuracy after query 267: 0.6776
Accuracy after query 268: 0.6842
Accuracy after query 269: 0.6645
Accuracy after query 270: 0.6776
Accuracy after query 271: 0.6711
Accuracy after query 272: 0.6776
Accuracy after query 273: 0.6645
Accuracy after query 274: 0.6776
Accuracy after query 275: 0.6612
Accuracy after query 276: 0.6711
Accuracy after query 277: 0.6776
Accuracy after query 278: 0.6776
Accuracy after query 279: 0.6842
Accuracy after query 280: 0.6645
Accuracy after query 281: 0.6974
Accuracy after query 282: 0.6776
Accuracy after query 283: 0.6743
Accuracy after query 284: 0.6809
Accuracy after query 285: 0.6711
Accuracy after query 286: 0.6678
Accuracy after query 287: 0.6908
Accuracy after query 288: 0.6941
Accuracy after query 289: 0.7039
Accuracy after query 290: 0.6908
Accuracy after query 291: 0.6743
Accuracy after query 292: 0.6776
Accuracy after query 293: 0.6809
Accuracy after query 294: 0.6743
Accuracy after query 295: 0.6842
Accuracy after query 296: 0.6776
Accuracy after query 297: 0.6908
Accuracy after query 298: 0.6875
Accuracy after query 299: 0.6809
Accuracy after query 300: 0.6776
Accuracy after query 301: 0.7039
Accuracy after query 302: 0.6974
Accuracy after query 303: 0.7007
Accuracy after query 304: 0.6875
Accuracy after query 305: 0.6908
Accuracy after query 306: 0.7105
Accuracy after query 307: 0.7072
Accuracy after query 308: 0.6842
Accuracy after query 309: 0.6842
Accuracy after query 310: 0.7039
Accuracy after query 311: 0.6875
Accuracy after query 312: 0.6776
Accuracy after query 313: 0.7138
Accuracy after query 314: 0.7072
Accuracy after query 315: 0.6875
Accuracy after query 316: 0.6842
Accuracy after query 317: 0.6908
Accuracy after query 318: 0.6875
Accuracy after query 319: 0.6875
Accuracy after query 320: 0.7039
Accuracy after query 321: 0.6809
Accuracy after query 322: 0.6875
Accuracy after query 323: 0.6842
Accuracy after query 324: 0.6908
Accuracy after query 325: 0.6941
Accuracy after query 326: 0.6908
Accuracy after query 327: 0.6941
Accuracy after query 328: 0.6743
Accuracy after query 329: 0.6875
Accuracy after query 330: 0.6842
Accuracy after query 331: 0.6875
Accuracy after query 332: 0.6908
Accuracy after query 333: 0.6908
Accuracy after query 334: 0.6743
Accuracy after query 335: 0.7007
Accuracy after query 336: 0.7007
Accuracy after query 337: 0.6974
Accuracy after query 338: 0.6974
Accuracy after query 339: 0.6842
Accuracy after query 340: 0.6842
Accuracy after query 341: 0.6941
Accuracy after query 342: 0.6842
Accuracy after query 343: 0.6809
Accuracy after query 344: 0.7007
Accuracy after query 345: 0.6908
Accuracy after query 346: 0.6908
Accuracy after query 347: 0.6776
Accuracy after query 348: 0.7007
Accuracy after query 349: 0.6941
Accuracy after query 350: 0.6842
Accuracy after query 351: 0.6842
Accuracy after query 352: 0.6908
Accuracy after query 353: 0.6941
Accuracy after query 354: 0.7007
Accuracy after query 355: 0.6974
Accuracy after query 356: 0.6842
Accuracy after query 357: 0.7105
Accuracy after query 358: 0.6941
Accuracy after query 359: 0.6974
Accuracy after query 360: 0.6974
Accuracy after query 361: 0.7039
Accuracy after query 362: 0.7237
Accuracy after query 363: 0.7105
Accuracy after query 364: 0.7204
Accuracy after query 365: 0.6908
Accuracy after query 366: 0.7072
Accuracy after query 367: 0.7204
Accuracy after query 368: 0.6974
Accuracy after query 369: 0.7072
Accuracy after query 370: 0.6974
Accuracy after query 371: 0.7007
Accuracy after query 372: 0.7072
Accuracy after query 373: 0.7072
Accuracy after query 374: 0.7105
Accuracy after query 375: 0.7072
Accuracy after query 376: 0.7072
Accuracy after query 377: 0.7138
Accuracy after query 378: 0.6908
Accuracy after query 379: 0.7039
Accuracy after query 380: 0.6875
Accuracy after query 381: 0.7072
Accuracy after query 382: 0.7039
Accuracy after query 383: 0.6974
Accuracy after query 384: 0.7072
Accuracy after query 385: 0.7039
Accuracy after query 386: 0.7171
Accuracy after query 387: 0.7007
Accuracy after query 388: 0.7039
Accuracy after query 389: 0.7072
Accuracy after query 390: 0.7072
Accuracy after query 391: 0.7007
Accuracy after query 392: 0.7204
Accuracy after query 393: 0.7138
Accuracy after query 394: 0.7039
Accuracy after query 395: 0.7105
Accuracy after query 396: 0.7171
Accuracy after query 397: 0.7072
Accuracy after query 398: 0.7171
Accuracy after query 399: 0.7171
Accuracy after query 400: 0.7105

In [74]:
X_Iterate = X.iloc[:,[0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0]]
temp_value = cross_val_score(estimator=DecisionTreeClassifier(),X = X_Iterate,y = y,cv=5,n_jobs=-1).mean()

In [49]:
temp_value

0.656984126984127

seems like its' not my problem

In [52]:
X_pool[1]

array([1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0])

In [53]:
X_train[1]

array([1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0])

In [55]:
type(y_train[1])

numpy.int64

In [56]:
v =np.int64(4)

In [57]:
v

4

In [65]:
a = learner.y_training

In [66]:
a

array([7, 5, 6, 6, 7, 6, 5, 6, 4, 6, 1, 7, 6, 0, 7, 5, 6, 0, 6, 6, 2, 6,
       6, 6, 7, 7, 7, 6, 1, 6, 6, 7, 7, 6, 6, 7, 6, 5, 6, 6, 6, 2, 2, 0,
       5, 6, 7, 7, 6, 2])

In [64]:
X_initial_100

    0   1   2   3   4   5   6   7   8   9   10  11  12
0    0   1   1   0   0   0   0   1   1   1   0   1   1
1    0   0   0   0   1   0   0   0   0   0   1   0   1
2    0   1   0   0   1   1   0   0   0   1   1   0   0
3    0   0   1   1   0   1   0   0   0   1   0   0   0
4    0   0   0   1   0   0   0   0   1   0   0   0   0
..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
95   1   0   1   1   1   0   0   1   1   0   0   0   1
96   1   1   1   1   1   1   1   1   1   1   1   1   1
97   1   0   0   0   0   1   0   1   0   1   0   0   1
98   1   1   1   1   1   1   1   1   0   1   1   0   1
99   1   1   1   1   1   1   1   1   1   1   0   1   1

[100 rows x 13 columns]

In [68]:
np.array(2)

array(2)

In [78]:
X.head()

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline
0,14.23,1.71,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065.0
1,13.20,1.78,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050.0
2,13.16,2.36,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185.0
3,14.37,1.95,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480.0
4,13.24,2.59,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735.0