this is a test code to actually use active learning to train a model to predict accuracy according to feature sunset

In [48]:
#first import all the required library,let's first use breast cancer dataset
from sklearn.datasets import load_breast_cancer
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from modAL.models import ActiveLearner
from modAL.uncertainty import uncertainty_sampling
from sklearn.ensemble import RandomForestClassifier
from IPython import display
import LeeExperimentToolkit as lee
from matplotlib import pyplot as plt
import random
%matplotlib inline

First, we prepare the initial dataset to fit in active learning

In [3]:
X, y = load_breast_cancer(return_X_y=True,as_frame=True)

In [4]:
X_initial, y_initial = lee.PerformanceHandler.train_dataset_with_random_features(X,y,RandomForestClassifier(),100)

In [5]:
#see what's inside X_init
X_initial.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,0,1,0,1,0,1,0,1,1,0,...,1,0,1,0,0,0,0,1,1,0
1,1,1,1,1,0,1,1,1,0,1,...,1,1,1,1,1,1,1,1,1,1
2,1,0,1,1,1,1,0,0,1,1,...,0,1,1,0,1,0,1,0,0,1
3,1,1,1,1,0,0,0,1,1,1,...,0,1,0,0,1,1,0,0,0,0
4,1,0,0,0,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1

In [6]:
#see y_init
y_initial.head()

0    8
1    8
2    8
3    8
4    8
Name: 31, dtype: int64

In [10]:
y_initial.value_counts()
#breast cancer dataset is highly imbalanced, probably it's better to change

8    62
7    31
1     2
6     2
2     1
4     1
5     1
Name: 31, dtype: int64

In [11]:
#try to use wine
from sklearn.datasets import load_wine

In [12]:
X, y = load_wine(return_X_y=True,as_frame=True)

In [14]:
len(X)

178

In [16]:
y.value_counts()

1    71
0    59
2    48
Name: target, dtype: int64

In [20]:
test_value = cross_val_score(RandomForestClassifier(),X,y,cv=4)

In [21]:
test_value

array([0.91111111, 0.95555556, 1.        , 1.        ])

In [22]:
X_initial, y_initial = lee.PerformanceHandler.train_dataset_with_random_features(X,y,RandomForestClassifier(),100)

In [25]:
len(X_initial)

96

In [24]:
y_initial.value_counts()
#better than the breast cancer

8    42
7    20
6    14
5     5
2     4
0     3
3     3
4     3
1     2
Name: 14, dtype: int64

Now we have 96 initial dataset to fit in active learning

In [26]:
#seperate them
X_train, X_test, y_train, y_test = train_test_split(X_initial,y_initial)

In [28]:
X_initial,y_initial=X_train,y_train